.footer__separator {
    height: 117px;
    width: 4px;
    background-color: #6C6C72;
}

@media screen and (max-width: 1010px) {
    .footer__separator {
        width: 117px;
        height: 4px;
    }
}