.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 11px 54px 14px;
    background-color: #FFFFFF;
    /*box-sizing: border-box;*/
}


@media screen and (min-width: 1280px) {
    .header {
        width: 1172px;
    }
}

@media screen and (max-width: 800px) {
    .header {
        display: none;
    }
}