.instruction__content {
    max-width: 792px;
    width: 100%;
    margin: 37px 70px 0 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 974px) {
    .instruction__content {
        align-items: center;
        margin: 20px 20px 25px;
        max-width: unset;
        width: unset;
        align-self: stretch;
    }
}