.intro__item-block-text {
    margin: 0;
    padding: 8px;
    font-size: 32px;
    line-height: 47px;
    font-weight: 600;
    background: #FFFFFF;
    border-radius: 20px;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .intro__item-block-text {
        font-size: 26px;
        line-height: 38px;
    }
}