.footer__resource {
    font-size: 19px;
    font-weight: 600;
    line-height: 37.5px;
    color: #232233;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.5s ease-in-out;
}

.footer__resource:hover {
    opacity: 0.5;
}

@media screen and (max-width: 1080px) {
    .footer__resource {
        margin: 0 14px 0 0;
    }
}

@media screen and (max-width: 500px) {
    .footer__resource {
        margin: 0 14px 0 0;
    }
}

@media screen and (max-width: 400px) {
    .footer__resource {
        font-size: 18px;
    }
}

