.product__image {
    margin: 12px 0 0;
    position: relative;
    /*width: 100%;*/
}

@media screen and (max-width: 1010px) {
    .product__image {
        margin: 0;
        scale: 0.85;
        transform-box: content-box;
    }
}

@media screen and (max-width: 800px) {
    .product__image {
        margin: 10px 0 0;
        scale: 1;
    }
}