.footer__contact {
    height: Calc(100% * 100 / 230);
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

@media screen and (max-width: 1010px) {
    .footer__contact {
        height: 117px;
        width: 100%;
        border-radius: 30px;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.24);
        justify-content: space-between;
    }
}

@media screen and (max-width: 400px) {
    .footer__contact {
        height: unset;
    }
}
