.header__logo {
    width: 124px;
    height: 64px;
    margin: 0 64px 0 0;
    background-image: url("../../../images/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: opacity 0.5s ease-in-out;
}

.header__logo:hover {
    opacity: 0.6;
}
