.intro__frame {
    height: 352px;
    width: 402px;
    margin: 56px 0 0 Calc((100% - 610px - 36px - 300px) * (167 - 36) / (1280 - 610 - 36 - 300) + 36px);
    box-sizing: border-box;
    border: 18px solid #FFFFFF;
    display: grid;
}

@media screen and (max-width: 1030px) {
    .intro__frame {
       margin: 27px 0 0 36px;
    }
}

@media screen and (max-width: 500px) {
    .intro__frame {
        max-width: 323px;
        width: unset;
        height: unset;
        aspect-ratio: 323/302;
        border: 10px solid #FFFFFF;
        margin: 27px 16px 0 36px;
    }
}

@media screen and (max-width: 375px) {
    .intro__frame {
        align-self: stretch;
    }
}