.intro__image {
    width: 208px;
    height: 425px;
    margin: 37px Calc((100% - 610px - 300px) * 103 / (1280 - 610 - 300)) 0 0;
    /*margin: 37px Calc(265.52% / 1280 * 100) 0 0;*/
}

@media screen and (max-width: 1030px) {
    .intro__image {
        margin: 20px 0 27px;
    }
}