.intro__caption {
    margin: 6px 0 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #6C6C72;
}

@media screen and (max-width: 500px) {
    .intro__caption {
        margin: 16px 0 0;
    }
}