.instruction__number {
    position: absolute;
    left: -20px;
    top: 31px;
    min-width: 56px;
    aspect-ratio: 56/53;
    background-color: #396AD5;
    border-radius: 28px/26.5px;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    color: #FFFFFF;
    text-align: center;
    /*margin: 0 15px 0 16px;*/
}

@media screen and (max-width: 974px) {
    .instruction__number {
        left: 0;
    }
}